@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to App Service Deployed using CI/CD pipeline.</h1>
    <p>Congratulations! Your app is running on Azure App Service.</p>
</div>
